<!-- ====================== -->
<!-- CERTIFICATION & PARTNERS -->
<!-- ====================== -->

<section class="bg-gray-50 py-16">

    <div class="max-w-6xl mx-auto px-6">

        <!-- Heading -->
        <div class="text-center mb-12">

            <h2 class="text-3xl font-bold text-blue-950">
                Sertifikasi & Mitra
            </h2>

            <div class="w-20 h-1 bg-blue-700 rounded-full mx-auto mt-4 mb-5"></div>

            <p class="max-w-3xl mx-auto text-sm text-gray-600 leading-7">
                CV. Neptune Eka Sarana telah memperoleh berbagai sertifikasi nasional maupun internasional
                sebagai bentuk komitmen dalam menyediakan layanan inspeksi, pengujian,
                pemeliharaan, serta penyediaan peralatan keselamatan maritim yang memenuhi
                standar IMO, SOLAS, dan berbagai badan klasifikasi dunia.
            </p>

        </div>

        <!-- GRID -->
        <div class="grid md:grid-cols-3 gap-8">

            <!-- Lloyd -->
            <div
                class="bg-white rounded-2xl border border-gray-200 shadow-sm hover:shadow-xl hover:-translate-y-2 transition-all duration-300 p-8 text-center">

                <img src="assets/certification/lloyd-register.jpeg" alt="Lloyd Register"
                    class="h-24 mx-auto object-contain mb-6">

                <h3 class="font-bold text-blue-900">
                    Lloyd's Register
                </h3>

                <p class="text-xs text-gray-500 mt-4 leading-6">
                    Sertifikasi internasional yang menjamin sistem inspeksi,
                    klasifikasi kapal serta keselamatan operasional sesuai standar dunia.
                </p>

            </div>

            <!-- BKI -->
            <div
                class="bg-white rounded-2xl border border-gray-200 shadow-sm hover:shadow-xl hover:-translate-y-2 transition-all duration-300 p-8 text-center">

                <img src="assets/certification/bki.jpeg" alt="BKI" class="h-24 mx-auto object-contain mb-6">

                <h3 class="font-bold text-blue-900">
                    Biro Klasifikasi Indonesia
                </h3>

                <p class="text-xs text-gray-500 mt-4 leading-6">
                    Badan klasifikasi nasional yang memberikan pengakuan
                    terhadap kelayakan dan keselamatan kapal di Indonesia.
                </p>

            </div>

            <!-- DGI -->
            <div
                class="bg-white rounded-2xl border border-gray-200 shadow-sm hover:shadow-xl hover:-translate-y-2 transition-all duration-300 p-8 text-center">

                <img src="assets/certification/dgi.jpeg" alt="DGI" class="h-24 mx-auto object-contain mb-6">

                <h3 class="font-bold text-blue-900">
                    Directorate General
                </h3>

                <p class="text-xs text-gray-500 mt-4 leading-6">
                    Pengakuan terhadap pelayanan keselamatan pelayaran
                    sesuai regulasi Direktorat Jenderal Perhubungan Laut.
                </p>

            </div>

            <!-- IACS -->
            <div
                class="bg-white rounded-2xl border border-gray-200 shadow-sm hover:shadow-xl hover:-translate-y-2 transition-all duration-300 p-8 text-center">

                <img src="assets/certification/lacs.jpeg" alt="IACS" class="h-24 mx-auto object-contain mb-6">

                <h3 class="font-bold text-blue-900">
                    IACS Member
                </h3>

                <p class="text-xs text-gray-500 mt-4 leading-6">
                    Mengikuti standar International Association of
                    Classification Societies sebagai acuan keselamatan kapal.
                </p>

            </div>

            <!-- Marine Ship -->
            <div
                class="bg-white rounded-2xl border border-gray-200 shadow-sm hover:shadow-xl hover:-translate-y-2 transition-all duration-300 p-8 text-center">

                <img src="assets/certification/Marine Ship Certification.webp" alt="Marine Ship"
                    class="h-24 mx-auto object-contain mb-6">

                <h3 class="font-bold text-blue-900">
                    Marine Ship Certification
                </h3>

                <p class="text-xs text-gray-500 mt-4 leading-6">
                    Sertifikasi kelayakan berbagai perlengkapan keselamatan
                    kapal berdasarkan standar internasional.
                </p>

            </div>

            <!-- INAPROC -->
            <div
                class="bg-white rounded-2xl border border-gray-200 shadow-sm hover:shadow-xl hover:-translate-y-2 transition-all duration-300 p-8 text-center">

                <img src="assets/certification/inaproc.webp" alt="INAPROC" class="h-24 mx-auto object-contain mb-6">

                <h3 class="font-bold text-blue-900">
                    INAPROC
                </h3>

                <p class="text-xs text-gray-500 mt-4 leading-6">
                    Terdaftar sebagai penyedia barang dan jasa pemerintah
                    melalui sistem Indonesia National Procurement Portal.
                </p>

            </div>


            <!-- btkp -->
            <div
                class="bg-white rounded-2xl border border-gray-200 shadow-sm hover:shadow-xl hover:-translate-y-2 transition-all duration-300 p-8 text-center">

                <img src="assets/certification/logo-btkp.jpg" alt="btkpr"
                    class="h-24 w-auto mx-auto object-contain mb-6">

                <h3 class="font-bold text-blue-900">
                    BTKP
                </h3>

                <p class="text-xs text-gray-500 mt-4 leading-6">
                    Melaksanakan penilaian, pengujian, rancang bangun, pembuatan alat-alat dan bahan-bahan keselamatan
                    pelayaran serta penyiapan standarisasi dan sertifikat alat-alat dan bahan-bahan keselamatan
                    pelayaran serta survei dan pemberitaan keselamatan pelayaran.
                </p>

            </div>

            <!-- BSA -->
            <div
                class="bg-white rounded-2xl border border-gray-200 shadow-sm hover:shadow-xl hover:-translate-y-2 transition-all duration-300 p-8 text-center">

                <img src="assets/certification/logo-BSA.png" alt="BSA"
                    class="h-24 w-auto mx-auto object-contain mb-6">

                <h3 class="font-bold text-blue-900">
                    BSA
                </h3>

                <p class="text-xs text-gray-500 mt-4 leading-6">
                    penyedia layanan logistik terintegrasi yang menyediakan layanan rantai pasok terpadu, mulai dari
                    domestik hingga internasional. Kami menggabungkan jaringan logistik luas, teknologi modern, dan tim
                    berpengalaman, untuk menawarkan layanan logistik yang menyeluruh.
                </p>

            </div>

             <!-- MDS -->
            <div
                class="bg-white rounded-2xl border border-gray-200 shadow-sm hover:shadow-xl hover:-translate-y-2 transition-all duration-300 p-8 text-center">

                <img src="assets/certification/MDS.png" alt="MDS"
                    class="h-24 w-auto mx-auto object-contain mb-6">

                <h3 class="font-bold text-blue-900">
                    BSA
                </h3>

                <p class="text-xs text-gray-500 mt-4 leading-6">
                    penyedia layanan logistik terintegrasi yang menyediakan layanan rantai pasok terpadu, mulai dari
                    domestik hingga internasional. Kami menggabungkan jaringan logistik luas, teknologi modern, dan tim
                    berpengalaman, untuk menawarkan layanan logistik yang menyeluruh.
                </p>

            </div>

        </div>



        <!-- Bottom Info -->
        <div class="mt-14">

            <div class="bg-blue-950 rounded-2xl p-10 text-center text-white">

                <h3 class="text-2xl font-bold mb-4">
                    Komitmen Kami Terhadap Keselamatan
                </h3>

                <p class="max-w-4xl mx-auto text-sm leading-7 text-blue-100">

                    Seluruh layanan inspeksi, sertifikasi, pemeliharaan,
                    pengujian beban (Load Test), Life Saving Appliances (LSA),
                    Fire Fighting Appliances (FFA), Liferaft Service,
                    Navigation & Communication, hingga penyediaan peralatan
                    keselamatan dilaksanakan berdasarkan standar
                    SOLAS, IMO, MSC.402(96), serta memenuhi persyaratan
                    berbagai badan klasifikasi internasional guna menjamin
                    keselamatan pelayaran dan operasional kapal.

                </p>

            </div>

        </div>

    </div>

</section>